## Build results
bin/
obj/

## Runtime generated
config.json
runlog/

## IDE / Tools
.vs/
.idea/
.workbuddy/
*.user
*.suo

## OS
Thumbs.db
Desktop.ini
.DS_Store

## Unused resources
SHFS/Resources/exe-icon.png
SHFS/Resources/image-icon.png
